@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
  --font-1--:"Lobster";
  --font-2--:"Permanent Marker";
  --background-color-1--:#FC9114;
  --background-color-2--:#21FCC7;
  --background-color-3--:#20B08D;
  --background-color-4--:#2039B0;
  --background-color-5--:#0832FC;
}
.cabecalho-page{
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color:#000;
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.cabecalho-page > img{
  animation: anima-header 5s infinite;
  height:100%;
  width: 100%;
  object-fit: cover;
  opacity: .2;
}

@keyframes anima-header {
  from{
    transform: scale(1.6)
  }
  to{
    transform: scale(1)
  }
}
.descri-header{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.descri-header>h1,
.descri-header>p{
  color: #fff;
  font-family: var(--font-1--);
  font-size:35px;
}
.descri-header>a{
  display: block;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-1--);
  padding: .6rem .6rem;
  width: 30%;
  border-radius:.4rem;
  color: #fff;
  background-color:var(--background-color-3--);
  margin:1rem 0;
  transition: all .4s;
  cursor: pointer;
}
.descri-header>a:hover{
  color: var(--background-color-3--);
  background-color:#fff;
  transform: scale(1.1);
}

