@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
  --font-1--:"Lobster";
  --font-2--:"Permanent Marker";
  --background-color-1--:#292935;
  --background-color-2--:#21FCC7;
  --background-color-3--:#20B08D;
  --background-color-4--:#2039B0;
  --background-color-5--:#484d64;
}

.footer-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  height:20vh;
  background-color:rgb(35, 37, 39);
  color: #fff;
  font-family: var(--font-1--);
}
.footer-page>a{
  text-decoration:none;
  display: block;
  background-color:rgb(78, 78, 199);
  padding: 1rem 1rem;
  border-radius: .4rem;
  color:#fff;
}