@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --font-fredoka--:"Fredoka One";
  --font-Lobster--:"Lobster Two";
  --background-color--primary--:#F5184E;
  --background-color--secudary--:#1848F5;
  --color--:#F5BB18;
}
